<section id="about">
  <div class="container">
    <h2 class="text-main my-3 fw-bold text-danger">ABOUT US</h2>
    <div class="row py-3">
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="https://www.pegipegi.com/assets-hotel-homepage-pc/img/why01.png"
          alt="about-icon"
          class="w-75"
        />
        <div class="about-content-text mt-3">
          <h1 class="about-title text-main text-danger">
            Kemudahan Pembayaran
          </h1>
          <p class="about-text text-main">
            Pilih metode pembayaran sesuai keinginan Anda (transfer, kartu
            kredit, pembayaran di swalayan, internet banking, dan cicilan).
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="https://www.pegipegi.com/assets-hotel-homepage-pc/img/why02.png"
          alt="about-icon"
          class="w-75"
        />
        <div class="about-content-text mt-3">
          <h1 class="about-title text-main text-danger">Diskon & Promo</h1>
          <p class="about-text text-main">
            Nikmati harga spesial untuk member Pegipegi dan dapatkan juga
            beragam promo menarik lainnya.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="https://www.pegipegi.com/assets-hotel-homepage-pc/img/why01.png"
          alt="about-icon"
          class="w-75"
        />
        <div class="about-content-text mt-3">
          <h1 class="about-title text-main text-danger">PepePoin</h1>
          <p class="about-text text-main">
            Kumpulkan PepePoin dari transaksi Anda dan gunakan sebagai potongan
            harga pada transaksi berikutnya
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <img
          src="https://www.pegipegi.com/assets-hotel-homepage-pc/img/why04.png"
          alt="about-icon"
          class="w-75"
        />
        <div class="about-content-text mt-3">
          <h1 class="about-title text-main text-danger">
            Best Price Guarantee
          </h1>
          <p class="about-text text-main">
            Pegipegi menjamin Anda mendapatkan harga terbaik saat melakukan
            pemesanan.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
