<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-6 hero-wrapper">
        <h1 class="text-danger hero-title">
          Pascal R<span class="text-light">oo</span>m
        </h1>
        <h3 class="text-light fs-1 hero-subtitle">
          Booking Hotel dengan Harga Termurah di sini
        </h3>
        <p class="hero-text text-light">
          Temukan harga terbaik untuk setiap produk yang anda butuhkan hanya di
          <span class="text-danger text-brand">Pascal R</span
          ><span class="text-light text-brand">oo</span
          ><span class="text-danger text-brand">m</span>
        </p>
      </div>
    </div>
  </div>
</section>
