<section id="article">
  <div class="container">
    <h2 class="text-main my-3 fw-bold text-danger">BLOG PERJALANAN</h2>
    <div class="row py-3">
      <div class="col-12 col-md-6 col-lg-3 text-main">
        <div class="image-wrapper rounded">
          <img
            src="https://d99i6ad9lbm5v.cloudfront.net/uploads/image/file/13037/thumb_apartemen-di-bandung-4.webp"
            alt="img-thumbnail"
            class="w-100 overflow-hidden rounded"
          />
        </div>
        <div class="text-wrapper text-justify mt-2">
          <a href="" class="text-decoration-none text-dark">
            <h4>3 Apartemen di Bandung buat Staycation Seru dan Hemat</h4>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-main">
        <div class="image-wrapper rounded">
          <img
            src="https://images.unsplash.com/photo-1566073771259-6a8506099945?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aG90ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            alt="img-thumbnail"
            class="w-100 overflow-hidden rounded"
          />
        </div>
        <div class="text-wrapper text-justify mt-2">
          <a href="" class="text-decoration-none text-dark">
            <h4>Cari Hotel di Banyuwangi yang Dekat Pantai?</h4>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-main">
        <div class="image-wrapper rounded">
          <img
            src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aG90ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            alt="img-thumbnail"
            class="w-100 overflow-hidden rounded"
          />
        </div>
        <div class="text-wrapper text-justify mt-2">
          <a href="" class="text-decoration-none text-dark">
            <h4>Wisata di Kepanjen buat Kamu yang Lelah dengan Kerjaan</h4>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-main">
        <div class="image-wrapper rounded">
          <img
            src="https://d99i6ad9lbm5v.cloudfront.net/uploads/image/file/13029/thumb_hotel-di-malang-6.webp"
            alt="img-thumbnail"
            class="w-100 overflow-hidden rounded"
          />
        </div>
        <div class="text-wrapper text-justify mt-2">
          <a href="" class="text-decoration-none text-dark">
            <h4>3 Urbanview Hotel Terbaik di Malang</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
